*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border: 1 solid black;
    border-color: black;
    outline: auto;
}

table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
}


a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: gold;
}


.nav-bar, td {
    background-color: white;
}

.nav-bar{
    background-color: rgb(29, 31, 128);
    color: black;
}

h1,h2{
    text-align: center;
}

.cabecalho{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

img{
    width: 25%;
    height: 25%;
}

header .logo img{
    width: 100%;
    max-width: 150px;
}

@media (max-width: 850px) {
    img{
		width: 50%;
		height: 50%;
	}

    
    h1{
        font-size: 15px;
    }
    
    .letra-titulo{
        font-size: 1px;
    }

    .nav-bar{
        font-size: 9px;
    }

    table {
        width: 1%;
    }

}