*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* -----------------------------CABRÇALHO ------------------- */
header{
    background: rgb(67, 161, 161);
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.imagem{
    width: 30%;
    height: 30%;
}

header .logo img{
    width: 100%;
    max-width: 150px;
}

header .title{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.cabecalho{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
/* ----------------------FIM CABEÇALHO ----------------------- */

/* ----------------------TABELA----------------------------------- */
table{
    background-color: rgb(209, 209, 209);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table, tr, td{
    border-collapse: collapse;
}

/* -----------------------FIM TABELA-------------------------- */

.prosseguimento {
    border:0; outline: none; margin-left: 0; background-color: white;
}

.border-full tr td{
    border: 1px solid black;
}

.usuario{
	background-color: rgba(255, 255, 255, 0.9);
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	
	padding: 10px;
	border-radius: 15px;
	color: rgb(2, 2, 2) ;
    border: 1;
    border-color: black;
	outline: auto;
    overflow-y: auto;
	min-height: 95%;
	width: 90%;
}

.btn-cpi {
	display: flex;
	justify-content: space-between;
	width: auto;
}

.btn-ficha{
    display: flex;

	width: 50%;
    margin-left: auto;
    margin-right: auto;

}

h1{
	text-align: center;
	font-size: 20px;
}

h2{
	text-align: center;
	font-size: 17px;
}



.select{
    background-color: white;
    border: none;
    
}


.justificativa{
    width: 100%;
    height: 100px;
    display: flex;
    vertical-align: top;
    overflow-y: scroll;   
}

button{
	background-color: rgb(29, 31, 128);
	border: none; 
	padding: 10px;
	border-radius: 10px;
	color: white;
	font-size: 20px;
    width: 95%;
}



button:hover{
	background-color: rgb(247, 168, 23);
    color: black;
}

.nav-bar, td {
    background-color: white;
}


.div-nav-bar {
    height: 550px;
    overflow-y: scroll;
}

a {
    color: black;
}


/* -------------------CELULAR-------- */
@media (max-width: 850px) {
    img{
		width: 50%;
		height: 50%;
	}
    table{
        font-size: 10px;
        align-items: center;
        max-width: 100%;

        display: table;
        
    }

    .btn-ficha a button{
        font-size: 10px;

    };
    
}