
*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* -----------------------------CABRÇALHO ------------------- */
header{
    background: rgb(67, 161, 161);
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.imagem{
    width: 30%;
    height: 30%;
}

header .logo img{
    width: 100%;
    max-width: 150px;
}

header .title{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.cabecalho{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
/* ----------------------FIM CABEÇALHO ----------------------- */

/* ----------------------TABELA----------------------------------- */
table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border: 1 solid black;
    border-color: black;
    outline: auto;
}

table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}

.table tbody tr:nth-child(odd){ /*isso é pra fazer um efeito zebrado na lista exemplo lista todas as linhas impares da lista*/
    background-color: rgba(168, 168, 168, 0.384);
 }

td{
    font-size: 20px;
}
/* -----------------------FIM TABELA-------------------------- */



.cp_aluno{
	background-color: rgba(255, 255, 255, 0.9);
	
	margin-left: auto;
    margin-right: auto;
	padding: 50px;
	border-radius: 15px;
	color: rgb(2, 2, 2) ;
    border: 1px solid black;

	outline: auto;
}

h1{
	text-align: center;
	font-size: 20px;
}

h2{
	text-align: center;
	font-size: 17px;
}
h3{
    text-align: center;
    font-size: 15px;
}

a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: gold;
}

td:hover{
    background-color: rgb(29, 31, 128);
    color: rgb(247, 168, 23);
}



button{
	background-color: rgb(255, 255, 255);
	width: 100%;
    height: 100%;
	color: rgb(0, 0, 0);
    outline: none;
    border: none;
}

.criar_cpi{
    background-color: rgb(29, 31, 128);
    color: white;
    width: 10%;
    outline: auto;
    border: 1;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
}
.criar_cpi:hover{
    background-color: red;
    color: white;
    font-weight: bold;
}

button:hover{
	background-color: rgb(177, 177, 177);
    color: black;
}

/* -------------------CELULAR-------- */
@media (max-width: 850px) {
    .imagem{
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    table{
        font-size: 7px;
        align-items: center;
        max-width: 100%;
    }
}