<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/home_aluno_style.css">    
    {% block style %}
    {% endblock %}
    
</head>
<body>
    
    <!-- Cabeçalho -->
    <div class="cabecalho" >
        <img class="imagem" src="../static/img/brasoes.png" width="100%" height="100%" alt="DEU RUIM">
        <br><br>
    </div>
    
    <div>
        <h1>DIVISÃO ACADÊMICA</h1>
    </div>
    {% include 'nav-bar.html' %}

    <!-- <div>
        <h1>Bem vindo {{ usuario.grau_hierarquico }} {{ usuario.nome_de_guerra }}</h1>
    </div> -->

    {% block conteudo %}
    {% endblock %}
    
</body>
</html>