<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/home_aluno_style.css">    
    
</head>
<body>
    
    <!-- Cabeçalho -->
    <div class="cabecalho" >
        <img class="imagem" src="../static/img/brasoes.png" width="100%" height="100%" alt="DEU RUIM">
        <br><br>
    </div>
    
    <div>
        <h1>DIVISÃO ACADÊMICA</h1>
    </div>
    <nav>
        <table class="nav-bar">
            <thead>
                    <td ><a href="{{ url_for('usuario.home') }}">Principal</a></td>
                    <td><a href="{{ url_for('usuario.cpis_comunicante') }}">Comunicações feitas</a></td>
                    {% if usuario.funcao == 'JUSTICA' %}
                    <td><a href="{{ url_for('cpi.adicionar_cpi') }}">Fazer nova CP</a></td>
                    {% endif %}
                    {% if usuario.funcao == 'COMANDANTE DA ESFAP' or usuario.funcao == 'COMANDANTE DA ESFO' %}
                    <td><a href="{{ url_for('usuario.adicionar_usuario') }}">Adicionar usuario</a></td>
                    <td><a href="{{ url_for('cpi.adicionar_cpi') }}">Fazer nova CP</a></td>
                    <td><a href="{{ url_for('consulta.consultar') }}">Consultar</a></td>
                    <td><a href="{{ url_for('cpi.consultar_caderno') }}">Gerar Caderno</a></td>
                    {% endif %}
                    <td><a href="{{ url_for('usuario.logout') }}">Sair</a></td>
            </thead>
        </table>
    </nav>
    <br>

    <!-- <div>
        <h1>Bem vindo {{ usuario.grau_hierarquico }} {{ usuario.nome_de_guerra }}</h1>
    </div> -->

    {% block conteudo %}
    {% endblock %}
    
</body>
</html>