<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/consulta_style.css">
    
</head>
<body>
    
    <!-- Cabeçalho -->
    <div class="cabecalho" >
        <img src="../static/img/brasoes.png" width="100%" height="100%" alt="DEU RUIM">
    </div>
    
    <div>
        <h1>DIVISÃO ACADÊMICA</h1>
    </div>
    {% include 'nav-bar.html' %}
    <div>
        <h2>Bem vindo {{ usuario.grau_hierarquico }} {{ usuario.nome_de_guerra }}</h2>
    </div>

    {% block conteudo %}
    {% endblock %}
    
</body>
</html>