<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FICHA DE COMUNICAÇÃO</title>
    <link rel="stylesheet" href="../static/css/ficha_style.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>

        
        <div class="usuario"> 
        <div class="div-nav-bar">
            <!-- Cabeçalho -->
        <div class="cabecalho" >
            <img class="imagem" src="../static/img/brasoes.png" width="100%" height="100%" alt="DEU RUIM">
            <br><br>
        </div>
        
        <div>
            <h1>DIVISÃO ACADÊMICA</h1>
        </div>

        <div>
            <h2>FICHA DE CONDUTA PROFISSIONAL</h2> 
        </div>
        <!-- FIM CABEÇALHO -->
        <br>
            <!-- TABELA DADOS DA CPI -->
        <table  class="nav-bar">
                <tr style="border: 1px solid black;">
                    <td colspan="2" style="width: 10%; border: 1px solid black; font-weight: bold; background-color: rgb(189, 187, 187);" >CONDUTA PROFISSIONAL</td>
                </tr>
                <tr  style="border: 1px solid black;">
                    <td scope="col" style="width: 10%; border: 1px solid black; font-weight: bold;">CONDUTA</td>
                    <td scope="col" style="width: 10%; border: 1px solid black;">{{ cpi.conduta }}</td>
                </tr>
                <tr>
                    <td scope="col" style="width: 10%; border: 1px solid black; font-weight: bold;">ALUNO/PEL</td>
                    <td scope="col" style="width: 15%; border: 1px solid black;">{{ cpi.aluno.grau_hierarquico }} {{ cpi.aluno.nome_de_guerra }} - {{ cpi.info.pelotao }}º PEL</td>
                </tr>
                <tr>
                    <td scope="col" style="width: 30%; border: 1px solid black; font-weight: bold;">ENQUADRAMENTO</td>
                    <td scope="col" style="width: 30%; border: 1px solid black;">{{ cpi.artigo }}</td>
                </tr>
                <tr>
                    <td scope="col" style="width: 30%; border: 1px solid black; font-weight: bold;">OBSERVAÇÕES</td>
                    <td scope="col" style="width: 30%; border: 1px solid black;">{{ cpi.observacoes }}</td>
                </tr>
                <tr>
                    <td scope="col" style="width: 10%; border: 1px solid black; font-weight: bold;"> DATA/HORA</td>
                    <td scope="col" style="width: 10%; border: 1px solid black;">{{ cpi.data }} - {{ cpi.hora }}</td>
                </tr>
                <tr>
                    <td scope="col" style="width: 10%; border: 1px solid black; font-weight: bold;">LOCAL</td>
                    <td scope="col" style="width: 10%; border: 1px solid black;">{{ cpi.local }}</td>
                </tr>
                <tr>
                    <td scope="col" style="width: 10%; border: 1px solid black; font-weight: bold;">COMUNICANTE</td>
                    <td scope="col" style="width: 10%; border: 1px solid black;">{{ cpi.comunicante.grau_hierarquico }} {{ cpi.comunicante.nome_de_guerra }}</td>
                </tr>
                {% block tabela_cpi %}
                {% endblock %}
        </table>
        <!-- FIM TABELA DADOS DA CPI -->
        <!-- <div class="btn-ficha">
           <a href="{{ request.referrer }}" style="width: 100%; "><button type="button">VOLTAR</button></a>
   </div> -->
         </div>
         
       
         <br>
         {% block conteudo %}
         {% endblock %}
         
        </div>
      
        

    

    </body></html>