<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMUNICANTE</title>
    <link rel="stylesheet" href="../static/css/comunicante_style.css">
    
</head>
<body>
    <div class="defesa_usuario"> 
        
        <!-- Cabeçalho -->
        <div class="cabecalho" >
            <img class="imagem" src="../static/img/brasoes.png" width="100%" height="100%" alt="DEU RUIM">
            <br><br>
        </div>
        
        <div>
            <h1>DIVISÃO ACADÊMICA</h1>
        </div>
        <div>
            <h2>FICHA DE CONDUTA PESSOAL</h2>
        </div>
        <!-- FIM CABEÇALHO -->
        <br>
            <!-- TABELA DADOS DA CPI -->
            <table style="border: 1px solid black;">
                <thead>
                    <tr  style="border: 1px solid black;">
                        <td scope="col" style="width: 9%; border: 1px solid black;">CONDUTA</td>
                        <td scope="col" style="width: 20%; border: 1px solid black;">ALUNO/PEL</td>
                        <td scope="col" style="width: 50%; border: 1px solid black;">ENQUADRAMENTO</td>
                        <td scope="col" style="width: 10%; border: 1px solid black;"> DATA/HORA</td>
                        <td scope="col" style="width: 10%; border: 1px solid black;">LOCAL</td>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td scope="col" style="width: 9%; border: 1px solid black;">{{ cpi.conduta }}</td>
                        <td scope="col" style="width: 20%; border: 1px solid black;">{{ cpi.aluno.nome }} / {{ cpi.info.pelotao }}º</td>
                        <td scope="col" style="width: 40%; border: 1px solid black;">{{ cpi.artigo }}</td>
                        <td scope="col" style="width: 10%; border: 1px solid black;">{{ cpi.data }} {{ cpi.hora }}</td>
                        <td scope="col" style="width: 10%; border: 1px solid black;">{{ cpi.local }}</td>
                    </tr>
                </tbody>
            </table>
        <!-- FIM TABELA DADOS DA CPI -->
        
        <br>
            <!-- ---------------- OBSERVAÇÕES ----------------------- -->
            <table>
                <thead>
                    <tr>
                        <td scope="col" style="width: 100%;">OBSERVAÇÕES</td>    
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col" style="width: 100%;">
                            {% if cpi.observacoes %}
                                {{ cpi.observacoes }}
                            {% else %}
                                Sem observações
                            {% endif %}
                        </td>    
                    </tr>
                </tbody>
            </table>
        <!-- -------------------FIM OBSERVAÇÕES  -->
        
        <form method="post" action="{{ url_for('usuario.ciente_comunicante') }}?protocolo={{ cpi.id }}">
            
            <!-- SELEÇÃO DE PROSSEGUIMENTO    -->
            <table style="border:0; outline: none; margin-left: 0; background-color: white;">
                <thead>
                    <tr style="width: 10%;">
                        <td scope="col" style="width: 50%;"><input type="radio" name="ciente" value="True">PROSSEGUIR</td>
                        <td scope="col" style="width: 50%;"><input type="radio" name="ciente" value="False">CANCELAR</td>
                    </tr>
                </thead>
            </table>
            
            <!-- FIM SELEÇÃO DE PROSSEGUIMENTO -->
            
            <!-- BLOCO PARA JUSTICICATIVA -->
            <div>
                <textarea class="justificativa" placeholder="Justificativa" id=""></textarea>
            </div>
            <br><br>
            
            <!-- FIM BLOCO PARA JUSTIFICATIVA -->


            
            <!-- Botão enviar -->
            <button type="submit"> ENVIAR </button>
        
        
        </form>

    </div>   
</body>
</html>