{% extends 'base3.html' %}

{% block titulo %} Consulta {% endblock %}

{% block conteudo %}

<form action="{{ url_for('consulta.consultar') }}" method="post">
    <!-- TIPO -->
     <div class="tipo">
    <label for="">Tipo</label>
    <input type="radio" name="tipo"><label for="">Usuario</label>
    <input type="radio" name="tipo"><label for="">CP</label>
    </div>
    <!-- FIM TIPO -->
    <br>
    <!-- USUARIO FUNÇÃO -->
    <div class="usuario-funcao">
    <label for="">Função</label>
    <input type="radio" name="funcao" id="" value="-"><label for="">TODAS</label>
    <input type="radio" name="funcao" id="" value="ALUNO"><label for="">ALUNO</label>
    <input type="radio" name="funcao" id="" value="JUSTICA"><label for="">JUSTIÇA E DISCIPLINA</label>
    <input type="radio" name="funcao" id="" value="CHEFE DE CURSO"><label for="">CHEFE DE CURSO</label>
    <input type="radio" name="funcao" id="" value="COMANDANTE DE CIA"><label for="">COMANDANTE DE CIA</label>
    <input type="radio" name="funcao" id="" value="COMANDANTE DA ESFAP"><label for="">COMANDANTE DA ESFAP</label>
    <input type="radio" name="funcao" id="" value="COMANDANTE DA ESFO"><label for="">COMANDANTE DA ESFO</label>
    <input type="radio" name="funcao" id="" value="COMUNICANTE"><label for="">COMUNICANTE</label>
    </div>
    <!-- FIM USUARIO FUNÇÃO -->
     <br>
    <!-- USUARIO NOME -->
    <input type="text" name="nome" placeholder="Nome">
    <!-- FIM USUARIO NOME -->
     <br>
     <!-- ORDENAR POR -->
      <label for="">Ordenar por:</label>
      <input type="radio" name="ordenar" id="" value=""><label for="">Menor Nota de conduta</label>

      <button type="submit"> ENVIAR </button>
</form>

{% endblock %}