{% extends 'base2.html' %}

{% block conteudo %}
        {% if defesa.defesa %}
        <!-- ---------------- DEFESA DO ALUNO ----------------------- -->
        <table class="border-full">
            <thead>
                <tr>
                    <td scope="col" style="width: 100%;">DEFESA DO ALUNO</td>    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col" style="width: 100%;">{{ defesa.defesa }}</td>    
                </tr>
            </tbody>
        </table>
        <!-- -------------------FIM DEFESA DO ALUNO  -->
         {% endif %}
    
        <br>
        {% if parecer %}
        <!-- ---------------- PARECER CHEFE DE CURSO ----------------------- -->
        <table class="border-full">
            <thead>
                <tr>
                    <td scope="col" style="width: 100%;">PARECER CHEFE DE CURSO</td>    
                </tr>
                <tr>
                    <td scope="col" style="width: 100%;">SUGIRO: 
                        {% if parecer.parecer == 'PUNICAO' %}
                            PUNIÇÃO
                        {% elif parecer.parecer == 'HOMOLOGACAO' %}
                            HOMOLOGAÇÃO
                        {% else %}
                            {{ parecer.parecer }}
                        {% endif %}
                    </td>    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col" style="width: 100%;">{{ parecer.observacoes }}</td>    
                </tr>
            </tbody>
        </table>

        <br>
        <!-- -------------------FIM PARECER DO COMANDO ------------------------  -->
         {% endif %}
         <br>
        {% if parecer_cmd_cia %}
        <!-- ---------------- PARECER COMANDANTE DE CIA ----------------------- -->
        <table class="border-full">
            <thead>
                <tr>
                    <td scope="col" style="width: 100%;">PARECER COMANDANTE DE CIA</td>    
                </tr>
                <tr>
                    <td scope="col" style="width: 100%;">SUGIRO: 
                        {% if parecer.parecer == 'PUNICAO' %}
                            PUNIÇÃO
                        {% elif parecer.parecer == 'HOMOLOGACAO' %}
                            HOMOLOGAÇÃO
                        {% else %}
                            {{ parecer_cmd_cia.parecer }}
                        {% endif %}
                    </td>    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col" style="width: 100%;">{{ parecer_cmd_cia.observacoes }}</td>    
                </tr>
            </tbody>
        </table>

        <br>
        <!-- -------------------FIM PARECER COMANDANTE DE CIA ------------------------  -->
         {% endif %}

        
         {% if decisao %}

            Decisão do CMD:
            <!-- SELEÇÃO DE DECISÃO DO COMANDO   -->
            <table class="border-full">
                <thead>
                    <tr>
                        <td scope="col" style="width: 100%;">DECISÃO COMANDANTE DA ESFO/ESFAP</td>    
                    </tr>
                    <tr>
                        <td scope="col" style="width: 100%;">DECISÃO:  <!-- VERICAR O CAMPO -->
                            {% if  == 'PUNICAO' %}
                                PUNIÇÃO
                            {% elif  == 'HOMOLOGACAO' %}
                                HOMOLOGAÇÃO
                            {% else %}
                                {{  }}
                            {% endif %}
                        </td>    
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col" style="width: 100%;">{{  }}</td>    
                    </tr>
                </tbody>
            </table>
            <!-- FIM SELEÇÃO DE DECISÃO DO COMANDO -->
            <br>

            
        {% endif %}
        

    </div>
    <script>
        function Reenquadrar(self) {
            reenquadramento = document.getElementById('enquadramento')
            reenquadramento.style.display = 'block'
        }
        function invisivel(self) {
            reenquadramento = document.getElementById('enquadramento')
            reenquadramento.style.display = 'none'
        }
        $(document).ready(function() {
                $('#enquadramento').select2();
            });
         
    </script>
{% endblock %}