{% extends 'base2.html' %}

{% block conteudo %}
        {% if defesa.defesa %}
        <!-- ---------------- DEFESA DO ALUNO ----------------------- -->
        <table class="border-full">
            <thead>
                <tr>
                    <td scope="col" style="width: 100%; border: 1px solid black; font-weight: bold; background-color: rgb(189, 187, 187);">DEFESA DO ALUNO</td>    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col" style="width: 100%;">
                    {% if defesa.defesa == None %}
                        Sem Justificativa
                    {% else %}
                        {{ defesa.defesa }}
                    {% endif %}
                </td>    
                </tr>
            </tbody>
        </table>
        <!-- -------------------FIM DEFESA DO ALUNO  -->
         {% endif %}
    
        <br>
        {% if parecer %}
        <!-- ---------------- PARECER CHEFE DE CURSO ----------------------- -->
        <table class="border-full">
            <thead>
                <tr>
                    <td scope="col" style="width: 100%; border: 1px solid black; font-weight: bold; background-color: rgb(189, 187, 187);">PARECER CHEFE DE CURSO</td>    
                </tr>
                <tr>
                    <td scope="col" style="width: 100%;">SUGIRO: 
                        {% if parecer.parecer == 'PUNICAO' %}
                            PUNIÇÃO
                        {% elif parecer.parecer == 'HOMOLOGACAO' %}
                            HOMOLOGAÇÃO
                        {% else %}
                            {{ parecer.parecer }}
                        {% endif %}
                    </td>    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col" style="width: 100%;">{{ parecer.observacoes }}</td>    
                </tr>
            </tbody>
        </table>

        <br>
        <!-- -------------------FIM PARECER DO COMANDO ------------------------  -->
         {% endif %}
         <br>
        {% if parecer_cmd_cia %}
        <!-- ---------------- PARECER COMANDANTE DE CIA ----------------------- -->
        <table class="border-full">
            <thead>
                <tr>
                    <td scope="col" style="width: 100%; border: 1px solid black; font-weight: bold; background-color: rgb(189, 187, 187);">PARECER COMANDANTE DE CIA</td>    
                </tr>
                <tr>
                    <td scope="col" style="width: 100%;">SUGIRO: 
                        {% if parecer.parecer == 'PUNICAO' %}
                            PUNIÇÃO
                        {% elif parecer.parecer == 'HOMOLOGACAO' %}
                            HOMOLOGAÇÃO
                        {% else %}
                            {{ parecer_cmd_cia.parecer }}
                        {% endif %}
                    </td>    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col" style="width: 100%;">{{ parecer_cmd_cia.observacoes }}</td>    
                </tr>
            </tbody>
        </table>

        <br>
        <!-- -------------------FIM PARECER COMANDANTE DE CIA ------------------------  -->
         {% endif %}

        <form method="post" action="{{ url_for('usuario.decisao') }}?protocolo={{ cpi.id }}">
            
            Decisão do CMD:
            <!-- SELEÇÃO DE PARECER DO COMANDO   -->
            <table style="border:none; margin-left: 0; background-color: white;" class="border-full">
                <thead>
                    <tr style="width: 10%;">
                        <td scope="col" class="selecao"><input id="radio" type="radio" name="decisao" value="PUNICAO" required>PUNIÇÃO</td>
                        <td scope="col" class="selecao"><input type="radio" name="decisao" value="ARQUIVAMENTO">ARQUIVAMENTO</td>
                    </tr>
                    <tr>
                        <td scope="col" class="selecao" style="width: 5%;"><input type="radio" name="decisao" value="HOMOLOGACAO">HOMOLOGAÇÃO</td>
                        <td scope="col" class="selecao" style="width: 5%;"><input type="radio" name="decisao" value="REENQUADRAMENTO">REENQUADRAMENTO</td>
                    </tr>
                </thead>
            </table>
            <!-- FIM SELEÇÃO DE PARECER DO COMANDO -->
            <br>

            <!-- REENQUADRAMENTO -->

            <select name="enquadramento" id="enquadramento" style="display: none;">
                {% for artigo in artigos %}
                    {% if artigo.artigo.upper() == cpi.artigo %}
                        <option value="{{ artigo.artigo }}" selected>{{ artigo.artigo }} - {{ artigo.descricao }}</option>
                    {% else %}
                        <option value="{{ artigo.artigo }}">{{ artigo.artigo }} - {{ artigo.descricao }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>

             <!-- FIM REENQUADRAMENTO -->

            <!-- BLOCO PARA JUSTICICATIVA -->
            {% include 'justificativa.html' %}
        
        
        </form>

    </div>
    <script>
        $(document).ready(function() {
                $('#enquadramento').select2();
            });
         
    </script>
{% endblock %}