{% extends 'base2.html' %}

{% block conteudo %}
        {% if defesa %}
        <!-- ---------------- DEFESA DO ALUNO ----------------------- -->
        <table class="border-full">
            <thead>
                <tr>
                    <td scope="col" style="width: 100%;">DEFESA DO ALUNO</td>    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col" style="width: 100%;">{{ defesa.defesa }}</td>    
                </tr>
            </tbody>
        </table>
        <!-- -------------------FIM DEFESA DO ALUNO  -->
         {% endif %}
    
        <br>
        {% if parecer %}
        <!-- ---------------- PARECER CHEFE DE CURSO ----------------------- -->
        <table class="border-full">
            <thead>
                <tr>
                    <td scope="col" style="width: 100%;">PARECER CHEFE DE CURSO</td>    
                </tr>
                <tr>
                    <td scope="col" style="width: 100%;">SUGIRO: 
                        {% if parecer.parecer == 'PUNICAO' %}
                            PUNIÇÃO
                        {% elif parecer.parecer == 'HOMOLOGACAO' %}
                            HOMOLOGAÇÃO
                        {% else %}
                            {{ parecer.parecer }}
                        {% endif %}
                    </td>    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col" style="width: 100%;">{{ parecer.observacoes }}</td>    
                </tr>
            </tbody>
        </table>

        <br>
        <!-- -------------------FIM PARECER DO COMANDO ------------------------  -->
         {% endif %}
         <br>
        {% if parecer_cmd_cia %}
        <!-- ---------------- PARECER COMANDANTE DE CIA ----------------------- -->
        <table class="border-full">
            <thead>
                <tr>
                    <td scope="col" style="width: 100%;">PARECER COMANDANTE DE CIA</td>    
                </tr>
                <tr>
                    <td scope="col" style="width: 100%;">SUGIRO: 
                        {% if parecer.parecer == 'PUNICAO' %}
                            PUNIÇÃO
                        {% elif parecer.parecer == 'HOMOLOGACAO' %}
                            HOMOLOGAÇÃO
                        {% else %}
                            {{ parecer_cmd_cia.parecer }}
                        {% endif %}
                    </td>    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col" style="width: 100%;">{{ parecer_cmd_cia.observacoes }}</td>    
                </tr>
            </tbody>
        </table>

        <br>
        <!-- -------------------FIM PARECER COMANDANTE DE CIA ------------------------  -->
         {% endif %}

        <form method="post" action="{{ url_for('usuario.decisao') }}?protocolo={{ cpi.id }}">
            
            Decisão do CMD:
            <!-- SELEÇÃO DE PARECER DO COMANDO   -->
            <table style="border:none; margin-left: 0; background-color: white;" class="border-full">
                <thead>
                    <tr style="width: 10%;">
                        <td scope="col" class="selecao"><input type="radio" name="decisao" value="PUNICAO" onclick="invisivel()">PUNIÇÃO</td>
                        <td scope="col" class="selecao"><input type="radio" name="decisao" value="ARQUIVAMENTO" onclick="invisivel()">ARQUIVAMENTO</td>
                    </tr>
                    <tr>
                        <td scope="col" class="selecao" style="width: 5%;"><input type="radio" name="decisao" value="HOMOLOGACAO" onclick="invisivel()">HOMOLOGAÇÃO</td>
                        <td scope="col" class="selecao" style="width: 5%;"><input type="radio" name="decisao" value="REENQUADRAMENTO" onclick="Reenquadrar()">REENQUADRAMENTO</td>
                    </tr>
                </thead>
            </table>
            <!-- FIM SELEÇÃO DE PARECER DO COMANDO -->
            <br>

            <!-- REENQUADRAMENTO -->

            <select name="enquadramento" id="enquadramento" style="display: none;">
                {% for artigo in artigos %}
                    {% if artigo.artigo == cpi.artigo %}
                        <option value="{{ artigo.artigo }}" selected>{{ artigo.artigo }} - {{ artigo.descricao }}</option>
                    {% else %}
                        <option value="{{ artigo.artigo }}">{{ artigo.artigo }} - {{ artigo.descricao }}</option>
                    {% endif %}
                {% endfor %}
            </select>

             <!-- FIM REENQUADRAMENTO -->

            <!-- BLOCO PARA JUSTICICATIVA -->
            {% include 'justificativa.html' %}
        
        
        </form>

    </div>
    <script>
        function Reenquadrar(self) {
            reenquadramento = document.getElementById('enquadramento')
            reenquadramento.style.display = 'block'
        }
        function invisivel(self) {
            reenquadramento = document.getElementById('enquadramento')
            reenquadramento.style.display = 'none'
        }
    </script>
{% endblock %}