{% extends 'base.html' %}

{% block titulo %} GERAR CADERNO {% endblock %}

{% block nome %} usuario.nome {% endblock %}

{% block style %}
<link rel="stylesheet" href="../static/css/gerar_caderno.css">

{% endblock %}

{% block conteudo %}

<form action="{{ url_for('cpi.consultar_caderno') }}" method="post">
    <select name="tipo" id="">
        <option value="consultar" selected hidden>CONSULTAR</option>
        <option value="consultar">CONSULTAR</option>
        <option value="gerar">GERAR CADERNO</option>
    </select>
    <select name="conduta" id="">
        <option value="cpi" selected hidden>CONDUTA</option>
        <option value="cpi">CPI</option>
        <option value="cpa">CPA</option>
    </select>
    <select class="select" name="curso" required>
        <option value="" style="text-align: center;" selected hidden disabled>CURSO</option>
        <option value="CFSD">CFSD</option>
        <option value="CFO">CFO</option>
        <option value="CHS">CHS</option>
        <option value="CAS">CAS</option>
        <option value="EAO">EAO</option>
        <option value="CAO">CAO</option>
</select>

<select class="select" name="ano" required>
        <option value="" style="text-align: center;" selected hidden disabled>ANO</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
        <option value="2028">2028</option>
        <option value="2029">2029</option>
        <option value="2030">2030</option>
    </select>
    <label for="">DATA INICIAL</label>
    <input type="date" name="data_inicial" id="" placeholder="DD/MM/YYYY" required>
    <label>DATA FINAL</label>
    <input type="date" name="data_final" id="" placeholder="DD/MM/YYYY" required>
    <select name="pelotoes" id="" required>
        <option value="1" selected hidden>PELOTÕES</option>
        {% for i in range(1, 31) %}
            <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>
    <br><br>
    <button class="btn-enviar" type="submit">ENVIAR</button>
</form>

        {% include 'tabela_cpi_caderno.html' %}
        <br>
        <br>
        {% include 'tabela_cpa_caderno.html' %}
        <br>

        

{% endblock %}