<table class="nav-bar">
    <tr style="border: 1px solid black;">
        <td colspan="2"
            style="width: 10%; border: 1px solid black; font-weight: bold; background-color: rgb(189, 187, 187);">ALUNO
        </td>
    </tr>
    <tr style="border: 1px solid black;">
        <td scope="col" style="width: 10%; border: 1px solid black; font-weight: bold;">NOME</td>
        <td scope="col" style="width: 10%; border: 1px solid black;">{{ dados.info.usuario.nome }}</td>
    </tr>
    <tr>
        <td scope="col" style="width: 10%; border: 1px solid black; font-weight: bold;">NOME DE GUERRA</td>
        <td scope="col" style="width: 15%; border: 1px solid black;">{{ dados.info.usuario.grau_hierarquico }} {{ dados.info.usuario.nome_de_guerra }}</td>
    </tr>
    <tr>
        <td scope="col" style="width: 30%; border: 1px solid black; font-weight: bold;">NUMERO DE CURSO</td>
        <td scope="col" style="width: 30%; border: 1px solid black;">{{ dados.info.numero }}</td>
    </tr>
    <tr>
        <td scope="col" style="width: 10%; border: 1px solid black; font-weight: bold;">FUNÇÃO</td>
        <td scope="col" style="width: 15%; border: 1px solid black;">{{ dados.info.usuario.funcao }}</td>
    </tr>
    <tr>
        <td scope="col" style="width: 30%; border: 1px solid black; font-weight: bold;">PELOTÃO</td>
        <td scope="col" style="width: 30%; border: 1px solid black;">{{ dados.info.pelotao }}º PEL</td>
    </tr>
    <tr>
        <td scope="col" style="width: 10%; border: 1px solid black; font-weight: bold;">CURSO</td>
        <td scope="col" style="width: 10%; border: 1px solid black;">{{ dados.info.curso }} {{ dados.info.ano }}</td>
    </tr>
    <tr>
        <td scope="col" style="width: 10%; border: 1px solid black; font-weight: bold;">NOTA DE CONDUTA</td>
        <td scope="col" style="width: 10%; border: 1px solid black;">{{ dados.info.nota_conduta }}</td>
    </tr>
    <tr>
        <td colspan="2" scope="col"
            style="width: 10%; border: 1px solid black; font-weight: bold; background-color: rgb(189, 187, 187);">CPIS
        </td>
    </tr>
    <tr>
        <td colspan="2" scope="col" style="width: 10%; border: 1px solid black;">
            <table>
                <thead>
                    <tr>
                        <td scope="col" style="width: 10%; border: 1px solid black;">PROTOCOLO</td>
                        <td scope="col" style="width: 10%; border: 1px solid black;">STATUS</td>
                        <td scope="col" style="width: 10%; border: 1px solid black;">ARTIGO</td>
                        <td scope="col" style="width: 10%; border: 1px solid black;">DATA</td>
                        <td scope="col" style="width: 10%; border: 1px solid black;">ACESSO</td>
                    </tr>
                </thead>
                <tbody>
                    {% for cpi in dados.cpis %}
                    <tr>
                        <td scope="col" style="width: auto; border: 1px solid black;">{{ cpi.id }}</td>
                        {% include 'td_status_consulta.html' %}
                        <td scope="col" style="width: 10%; border: 1px solid black;">{{ cpi.artigo }}</td>
                        <td scope="col" style="width: 10%; border: 1px solid black;">{{ cpi.data }}</td>
                        <td scope="col" style="width: 10%; border: 1px solid black;">
                            <a href="{{ url_for('cpi.perfil_cpi') }}?protocolo={{ cpi.id }}">LINK PARA ACESSAR CPI</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
</table>