<h2>
    REFERÊNCIAS ELOGIOSAS: {{ total_cpa }}
</h2>
            <table>
                <thead>
                    <tr>
                        <td colspan="5">REFERÊNCIAS ELOGIOSAS</td>
                    </tr>
                    <tr>
                        <!-- <td>PEL</td> -->
                        <td>N°</td>
                        <td>AL SD</td>
                        <td>DATA</td>
                        <td>ENQUADRAMENTO</td>
                        <td>PROTOCOLO</td>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(1, pelotoes+1) %}
                    <tr>
                        <td colspan="6">
                            {{ i }}° PELOTÃO
                        </td>
                    </tr>
                    {% for caderno in caderno_cpa %}
                        {% if caderno.conduta == 1 and caderno.info.pelotao|int == i %}
                        <tr>
                            <td rowspan="{{ caderno.cpis|length }}">
                                {{ caderno.info.numero }}
                            </td>
                            <td rowspan="{{ caderno.cpis|length }}">
                                {{ caderno.aluno.nome_de_guerra }}
                            </td>
                                <td> {{ caderno.cpis[0].data }} </td>
                                <td> {{ caderno.cpis[0].artigo }} </td>
                                <td> {{ caderno.cpis[0].id }} </td>
                            </tr>
                            {% if caderno.cpis|length > 1 %}
                                {% for cpi in caderno.cpis[1:] %}
                                    <td> {{ cpi.data }} </td>
                                    <td> {{ cpi.artigo }} </td>
                                    <td> {{ cpi.id }} </td>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <td colspan="5">
    
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
