{% if cpi.status == 0 %}
    <td scope="col" style="width: 10%; border: 1px solid black;"> COM O COMUNICANTE </td>
{% elif cpi.status == 1 %}
    <td scope="col" style="width: 10%; border: 1px solid black;"> COM O ALUNO </td>
{% elif cpi.status == 2 %}
    <td scope="col" style="width: 10%; border: 1px solid black;"> COM O CHEFE DE CURSO </td>
{% elif cpi.status == 3 %}
    <td scope="col" style="width: 10%; border: 1px solid black;"> COM O COMANDANTE DA ESFAP/ESFO </td>
{% elif cpi.status == 4 %}
    <td scope="col" style="width: 10%; border: 1px solid black;"> FINALIZADO </td>
{% elif cpi.status == 5 %}
    <td scope="col" style="width: 10%; border: 1px solid black;"> CUMPRIDO </td>
{% elif cpi.status == 10 %}
    <td scope="col" style="width: 10%; border: 1px solid black;"> CANCELADO PELO COMUNICANTE </td>
{% elif cpi.status == 11 %}
    <td scope="col" style="width: 10%; border: 1px solid black;"> ARQUIVADO </td>
{% elif cpi.status == 12 %}
    <td scope="col" style="width: 10%; border: 1px solid black;"> COM O COMANDANTE DE COMPANHIA </td>
{% endif %}
