<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEFESA ALUNO</title>
    <link rel="stylesheet" href="../static/css/defesa_style.css">
    
</head>
<body>
    <div class="defesa_usuario"> 
        
        <!-- Cabeçalho -->
        <div class="cabecalho" >
            <img class="imagem" src="../static/img/brasoes.png" width="100%" height="100%" alt="DEU RUIM">
            <br><br>
        </div>
        
        <div>
            <h1>DIVISÃO ACADÊMICA</h1>
        </div>
        <div>
            <h1>DEFESA</h1>
        </div>
        <!-- FIM CABEÇALHO -->
        <br>
            <!-- TABELA DADOS DA CPI -->
        <table style="border: 1px solid black;">
            <thead>
                <tr  style="border: 1px solid black;">
                    <td scope="col" style="width: 9%; border: 1px solid black;">CONDUTA</td>
                    <td scope="col" style="width: 20%; border: 1px solid black;">ALUNO</td>
                    <td scope="col" style="width: 40%; border: 1px solid black;">ENQUADRAMENTO</td>
                    <td scope="col" style="width: 10%; border: 1px solid black;">HORA</td>
                    <td scope="col" style="width: 10%; border: 1px solid black;">LOCAL</td>
                    <td scope="col" style="width: 10%; border: 1px solid black;">COMUNICANTE</td>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <td scope="col" style="width: 9%; border: 1px solid black;">CPI</td>
                    <td scope="col" style="width: 20%; border: 1px solid black;">AL SD PATRIK</td>
                    <td scope="col" style="width: 40%; border: 1px solid black;">ART 666 - XERIFE ETERNO ATÉ O FIM DO CURSO OU PEDIR PRA SAIR</td>
                    <td scope="col" style="width: 10%; border: 1px solid black;">24H</td>
                    <td scope="col" style="width: 10%; border: 1px solid black;">PLATO DAS BANDEIRAS</td>
                    <td scope="col" style="width: 10%; border: 1px solid black;">COMUNICANTE</td>
                </tr>
            </tbody>
        </table>
        <!-- FIM TABELA DADOS DA CPI -->
        
        <br><br>
        
        <form method="post">
            
            
            <!-- SELEÇÃO DE DEFESA OU JUSTIFICATICA    -->
            <table style="border:0; outline: none; margin-left: 0; background-color: white;">
                <thead>
                    <tr style="width: 10%;">
                        <td scope="col" style="width: 50%;"><input type="radio" name="selected">CIENTE</td>
                        <td scope="col" style="width: 50%;"><input type="radio" name="selected">JUSTIFICAR</td>
                    </tr>
                </thead>
            </table>
            
            <!-- FIM SELEÇÃO DE DEFESA OU JUSTIFICATICA -->
            
            <!-- BLOCO PARA JUSTICICATIVA -->
            <div>
                <textarea class="justificativa" placeholder="Justificativa" id=""></textarea>
            </div>
            <br><br>
            
            <!-- FIM BLOCO PARA JUSTIFICATIVA -->


            
            <!-- Botão enviar -->
            <button type="submit"> ENVIAR </button>
        
        
        </form>

    </div>   
</body>
</html>