<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHEFE DE CURSO</title>
    <link rel="stylesheet" href="../static/css/parecer_cdc_style.css">
    
</head>
<body>
    <div class="usuario"> 
        
        <!-- Cabeçalho -->
        <div class="cabecalho" >
            <img class="imagem" src="../static/img/brasoes.png" width="100%" height="100%" alt="DEU RUIM">
            <br><br>
        </div>
        
        <div>
            <h1>DIVISÃO ACADÊMICA</h1>
        </div>
        <div>
            <h2>PARECER CHEFE DE CURSO</h2>
        </div>
        <!-- FIM CABEÇALHO -->

        <br>

            <!-- TABELA DADOS DA CPI -->
            <table>
                <thead>
                    <tr>
                        <td scope="col" style="width: 9%;">CONDUTA</td>
                        <td scope="col" style="width: 20%;">ALUNO / PELOTÃO </td>
                        <td scope="col" style="width: 40%;">ENQUADRAMENTO</td>
                        <td scope="col" style="width: 10%;">DATA/HORA</td>
                        <td scope="col" style="width: 10%;">LOCAL</td>
                        <td scope="col" style="width: 10%;">COMUNICANTE</td>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td scope="col" style="width: 9%;">CPI</td>
                        <td scope="col" style="width: 20%;">AL SD PATRIK - 28° PEL</td>
                        <td scope="col" style="width: 40%;">ART 666 - XERIFE ETERNO ATÉ O FIM DO CURSO OU PEDIR PRA SAIR</td>
                        <td scope="col" style="width: 10%;">06/06/2024 - 06:20 AM</td>
                        <td scope="col" style="width: 10%;">PLATO DAS BANDEIRAS</td>
                        <td scope="col" style="width: 10%;">AL OF FULANO</td>
                    </tr>
                </tbody>
            </table>
        <!-- FIM TABELA DADOS DA CPI -->
        
        <br>
        <!-- ---------------- DEFESA DO ALUNO ----------------------- -->
        <table>
            <thead>
                <tr>
                    <td scope="col" style="width: 100%;">DEFESA DO ALUNO</td>    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col" style="width: 100%;">NÃO FUI EU !!! ESTOU SENDO PERSEGUIDO PELOS ALUNOS OFICIAIS !!!</td>    
                </tr>
            </tbody>
        </table>
        <!-- -------------------FIM DEFESA DO ALUNO  -->
        
        <form method="post">
            
            
            <!-- SELEÇÃO DE DEFESA OU JUSTIFICATICA    -->
            Sugiro:
            <table style="border:none; margin-left: 0; background-color: white;">
                <thead>
                    <tr style="width: 10%;">
                        <td scope="col"><input type="radio" name="selected">PUNIÇÃO</td>
                        <td scope="col"><input type="radio" name="selected">ARQUIVAMENTO</td>
                    </tr>
                    <tr>
                        <td scope="col" style="width: 5%;"><input type="radio" name="selected">HOMOLOGAÇÃO</td>
                        <td scope="col" style="width: 5%;"><input type="radio" name="selected">REENQUADRAMENTO</td>
                    </tr>
                </thead>
            </table>
            <!-- FIM SELEÇÃO DE DEFESA OU JUSTIFICATICA -->
            
            
            <br>
            <!-- BLOCO PARA JUSTICICATIVA -->
            <div>
                <textarea class="justificativa" placeholder="Justificativa" id=""></textarea>
            </div>
            <br>
            
            <!-- FIM BLOCO PARA JUSTIFICATIVA -->


            
            <!-- Botão enviar -->
            <button type="submit"> ENVIAR </button>
        
        
        </form>

    </div>   
</body>
</html>